@import './config';

.container {
  min-height: 100vh;
  width: 100vw;
}
.containerdark {
  background-color: $colorGreyBg;
}
.containerlight {
  background-color: $colorText;
}

.themebox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  margin-top: -8vh;
  margin-bottom: 5vh;
}

.switchbox {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: "100%";
  font-size: 15;
  color: "orange";
  padding-right: 2
}

.themeIcon {
  height: 3vh;
  padding-left: .2vw;
  margin-top: .4vh;
}

.scrollableContent {
  overflow: auto;
}

.footer {
  background-color: $colorGreyBg;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerdark {
  background-color: $colorGreyBg;
  border-top: 1px solid $colorText;
}

.footerlight {
  background-color: $colorText;
  border-top: 1px solid $colorGreyBg;
}

.socialIcon {
  height: 4vh;
}




