@import './config';

.aboutmebox {
  width: 90%;
  text-align: center;
  margin-left: 5vw;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHeading {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.profilePhoto{
  height: 15vh;
  width: 15vh;
}

.aboutmetitle {
  @extend .title-font;
  margin-right: 3vw;
}

.storytitle {
  @extend .title-font;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.linkText {
  color: $colorPrimary;
  display: inline;
  cursor: pointer;
}
.aboutmeheading {
  font-size: calc(10px + 1vw);
  margin-bottom: 2vh;
  max-width: 1300px;
}

.aboutmetext {
  @extend .aboutmeheading;
  text-align: left;
  margin-bottom: 1vh;
  font-weight: 100;
  margin-top: 2vh;
  line-height: 1.2;
}

.aboutmetextLink {
  @extend .aboutmetext;
  color: $colorPrimary;
  display: inline;
  cursor: pointer;
}

.textlight {
  color: $colorGreyBg;
}

.textdark {
  color: $colorText;
}