@import './config';

.banner {
  width: 100%;
}

.bannerimg {
  width: 100%;
  position: block;
  object-fit: cover;
  height: 36vh;
  max-height: 40vh;
}

.bannertext {
  position: absolute;
  top: 0vh;
  left: 5vw;
  width: 80vw;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: calc(40px + 5vw);
  font-weight: 600;
  color: $colorText;
  margin-bottom: 0vh;
}

.subTitle {
  margin-left: .5vw;
  font-size: calc(16px + 3.25vw);
  font-weight: 800;
  margin-top: 1vh;
}