@import './config';

.parrallaxcontainer {
  min-width: 120%;
}
.container {
  min-height: 100vh;
  width: 100vw;
}
.containerdark {
  background-color: $colorGreyBg;
}
.containerlight {
  background-color: $colorText;
}

.themebox {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  bottom: 2vh;
  z-index: 5;
}

.switchbox {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: "100%";
  color: "orange";
  padding-right: 2
}

.themeIcon {
  height: 22px;
  width: 24px;
  margin-left: 6px;
  margin-top: 4px;
}

.scrollableContent {
  overflow: auto;
  z-index: 1;
}

.bannercomp {
  z-index: 2;
}
.aboutmecomp{
  z-index: 20;
  position: absolute;
}
.skillscomp{
  z-index: 30;
  position: absolute;
}


.footer {
  background-color: $colorGreyBg;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerdark {
  background-color: $colorGreyBg;
  border-top: 1px solid $colorText;
}

.footerlight {
  background-color: $colorText;
  border-top: 1px solid $colorGreyBg;
}

.socialIcon {
  height: 4vh;
  cursor: pointer;
}




