@import './config';

.projectTilesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
  background-image: url('/assets/stonearchwinter.jpg');
}

.projectsTitle {
  @extend .title-font;
  margin-top: 3vh;
}

.projectsTitledark {
  color: $colorText;
}

.projectsTitlelight {
  color: $colorGreyBg;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 350px;
  width: 90%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  overflow: auto;
}

.card {
  width: 45%;
  min-width: 325px;
  height: 21vh;
  min-height: 120px;
  margin: 1vw;
  padding: 1vw 2vw;
  text-align: left;
  border-radius: 15px;
  transition: 150ms;
  border: 1px solid #ffffff00;
  display: flex;
  align-items: center;
}

.cardflex {
  @extend .flex-center;
}

.carddark {
  color: $colorText;
  background-color: $colorGreyPop80;
}

.cardlight {
  color: $colorGreyBg;
  background-color: $colorWhitePop80;
}

.card:hover,
.card:focus,
.card:active {
  color: $colorPrimary;
  border: 1px solid $colorPrimary;
  transform: scale(1.05);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.projTileIcon {
  height: 10vw;
  min-height: 90px;
  margin-right: 2vw;
  border-radius: 15px;
}

.cardinfobox {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: calc(11px + .75vw);
  }
  p {
    font-size: calc(9px + .5vw);
  }
}